@charset "UTF-8";

body {
    font-family: "Comic Sans MS";
    background-image: url("../images/grass.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
button {
	background-color: black;
	border: none;
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}
#sportsball {
    margin: 0 auto;
    text-align:center;
}
#logo {
    height: 200px;
}
#main {
    width: 500px;
    margin: 0 auto;
}
#firstHeader {
    margin-bottom:5px;
    text-align: center;
}
#secondHeader {
    margin-top: 0;
    text-align: center; 
}